body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;   
}

#game-container{
  width: 100%;
  min-width: 100%;
  height: auto;
  display: flex;
  gap: 10%;
  align-items: center;
  flex-flow: wrap;
  justify-items: center;
  justify-content: center;
  padding: 50px;
  box-sizing: border-box;
} 

#player1-board, #player2-board {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  border-spacing: 1px; /* Add spacing between grid cells */
  position: relative;
}

#player1-board{
  margin: 50px auto;
}

  * {
      touch-action: manipulation;
  }

#player1-board > div, #player2-board > div {
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border: 1px solid black;
}

.square:nth-child(3n) {
    background-color: #0e5bcb;
}

.square:nth-child(3n + 1) {
    background-color: #86afe1;
}

.square:nth-child(3n + 2) {
    background-color: #d4d6dd;
}

.stripe {
  color: #d4d6dd;
  background-image: linear-gradient(135deg, #d4d6dd 33.33%, #0e5bcb 32.33%, #0e5bcb 51%, #d4d6dd 50%, #d4d6dd 82.33%, #0e5bcb 83.33%, #0e5bcb 100%);
  background-size: 2px 2px;
}

.ship {
  position: absolute;
  cursor: move;
  background-color: blue;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.hit {
  background-color: red;
}

.miss {
  background-color: gray;
}

.carrier {
  background-color: pink;
}

.battleship {
  background-color: purple;
}

.cruiser {
  background-color: cyan;
}

.submarine {
  background-color: orange;
}

.destroyer {
  background-color: green;
}

.grid-label {
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    color: black;
    position: relative;
    background-color: white;
    font-weight: 900;
    font-family: system-ui;
    box-sizing: border-box;
}


.grid-labels {
    position: absolute;
    top: -40px;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    border:none;
}

.row-labels {
    position: absolute;
    top: 0;
    left: -50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
    border:none;
}

#menu {
  width: 300px;
  height: 250px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

#menu ul {
  list-style: none;
  padding: 0;
}

#menu li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

#menu li:nth-child(1) {
  background-color: #FFB6C1; /* Pink */
}

#menu li:nth-child(2) {
  background-color: #9370DB; /* Purple */
}

#menu li:nth-child(3) {
  background-color: #40E0D0; /* Cyan */
}

#menu li:nth-child(4) {
  background-color: #FF8C00; /* Orange */
}

#menu li:nth-child(5) {
  background-color: #008000; /* Green */
}

#menu button {
  padding: 15px;
  margin: 0;
  width: 100%;
  font-size: 18px;
}

.popup {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px; /* Adjust the width */
  height: 200px; /* Adjust the height */
}

.popup.show {
  display: block;
}

.close-button {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}

.rotate-button {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-top: 10px; /* Add a bit of spacing */
}
