#player1-board, #player2-board {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  border-spacing: 1px; /* Add spacing between grid cells */
  position: relative;
  margin: 50px auto;
}

#player1-board > div, #player2-board > div {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color: #f0f0f0;
}

.ship {
  background-color: blue;
}

.hit {
  background-color: red;
}

.miss {
  background-color: gray;
}

.carrier {
  background-color: pink;
}

.battleship {
  background-color: purple;
}

.cruiser {
  background-color: cyan;
}

.submarine {
  background-color: orange;
}

.destroyer {
  background-color: green;
}

.grid-label {
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: #0a68ff;
    position: relative;
    color: white;
    font-weight: bold;
    font-family: system-ui;
    box-sizing: border-box;
}


.grid-labels {
    position: absolute;
    top: -40px;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
}

.row-labels {
    position: absolute;
    top: 0;
    left: -50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
