:root {
  --color1: #cff5f7;
  --color2: #f5edb2;
  --color3: #cfeec4;
  --color4: #f9c7c9;
  --color5: #7e57c2;
  --color6: #5c6bc0;
  --color7: #ef5350;
  --color8: #ffa726;
  --color9: #66bb6a;
  --color10: #ff2400;
  --images: "../assets/images";

  --shipwreckimagepath: url("../assets/images/shipwreck.jpg");
  --boardcellhole: url("../assets/images/boardcellhole.avif");
  --woodcursorimagepath: url("../assets/images/wood-cursor.png");
  --woodpointerimagepath: url("../assets/images/wood-pointer.png");
  --nopointerimagepath: url("../assets/images/no-pointer.png");
  --papyrusimagepath: url("../assets/images/papyrus.avif");
  --flamesimagepath: url("../assets/images/flames.avif");
  --tablebackgroundimagepath: url("../assets/images/table-background.avif");
  --pagebackgroundimagepath: url("../assets/images/page-background.avif");
  --hitimagepath: url("../assets/images/hit.avif");
  --missimagepath: url("../assets/images/miss.avif");
  --aimimagepath: url("../assets/images/aim.avif");
  --carrierimagepath: url("../assets/images/carrier.avif");
  --battleshipimagepath: url("../assets/images/battleship.avif");
  --cruiserimagepath: url("../assets/images/cruiser.avif");
  --submarineimagepath: url("../assets/images/submarine.avif");
  --destroyerimagepath: url("../assets/images/destroyer.avif");
}

body {
  font-family: "Proda Sans", sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 5px 50px 50px 50px;
  background-image: var(--shipwreckimagepath);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: var(--woodcursorimagepath), auto;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* preloader start */

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.781);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-items: center;
}

.loading {
  display: flex;
  flex-direction: column;
  font-size: calc(3rem + 15px);
  padding: 25px 0;
  box-sizing: border-box;
  max-width: 80%;
  min-width: 80%;
  margin: 0 auto;
}

.loader {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 #0004;
  animation: l2 1.5s infinite linear;
  position: relative;
  max-width: 10rem;
  min-width: 10rem;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #0004;
  animation: inherit;
  animation-delay: -0.5s;
}
.loader:after {
  animation-delay: -1s;
}
@keyframes l2 {
  100% {
    box-shadow: 0 0 0 40px #0000;
  }
}

/* preloader end */

header,
#buttons-container,
#interface-container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

main {
  width: 100%;
  height: auto;
}

.wrap {
  align-content: space-evenly;
  flex-wrap: wrap;
}

header {
  flex-direction: row;
  width: 100%;
  min-width: 100%;
  margin: 0 auto;
}

#buttons-container {
  flex-direction: column;
  width: 100%;
}

#interface-container {
  position: relative;
  flex-direction: row;
  width: 75%;
  background-image: var(--papyrusimagepath);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: auto;
  min-height: 15vh;
  max-height: 120px;
  align-content: center;
}

#interface-container:after {
  content: "s";
  /* background-color: #603913c2; */
  top: 0px;
  width: 130%;
  height: 100%;
  left: unset;
  position: absolute;
  color: transparent;
  z-index: -1;
}

h1 {
  margin: 0 auto;
  width: 35%;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
}

h1 img {
  max-height: 15rem;
  width: 15rem;
  max-width: 100%;
}

.game-board-container {
  display: flex;
  flex-direction: row;
}

.boardh2container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 25%;
  gap: 15%;
  background-color: #0c0a0a66;
  margin: 0 auto;
  box-sizing: border-box;
  height: auto;
  max-height: 100%;
  padding: 0 10px;
}

.game-board-container > .boardh2container > h2 {
  line-height: 30px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.game-board-container > .boardh2container {
  justify-content: space-around;
}

.game-board-container > .boardh2container > p {
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 2px;
  height: auto;
  background-position: center center;
  margin: 0 auto;
  width: 50%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: clamp(10px, 2vw, 14px);
  margin-top: 25px;
  text-transform: capitalize;
}

.boardh2image {
  max-width: 100%;
  width: 80%;
  min-width: 8vw;
  height: auto;
}

h2 {
  color: #424244;
  font-weight: 600;
  letter-spacing: 2px;
  height: 10vh;
  background-position: center center;
  margin: 0 auto;
  width: 50%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: clamp(10px, 2vw, 14px);
  text-decoration: underline;
  font-weight: 900;
}

h2.human {
  background-repeat: no-repeat;
  background-size: cover;
}

h2.ai {
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center; /* Center align items vertically */
  flex-direction: row; /* Keep boards in a row for larger screens */
  margin: 25px auto; /* Added top/bottom margin and auto for left/right centering */
  max-width: 800px; /* Optional: Set a maximum width for larger screens */
  width: 100%; /* Optional: Set a width for smaller screens */
  gap: 5%;
}

.row {
  display: flex; /* Use flexbox for row layout */
  justify-content: space-between; /* Space out elements */
  width: 100%; /* Full width for each row */
  margin-bottom: 20px;
  flex-direction: column; /* Space between rows */
}

.column-container {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  z-index: -1;
  margin: 0;
  width: 10%;
}

.board-container {
  text-align: center; /* Center titles above boards */
  position: relative;
}

.container > .board-container {
  margin: 5% auto;
  display: inline-flex;
  flex-direction: column;
}

.board-container:last-child .board-labels {
  justify-content: start;
  margin-left: 3vw;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* Maintain 10 columns */
  margin: 10px 0 10px 0;
}

.board div {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1; /* Maintain square shape */
}

.outline div {
  outline: 2px solid blue;
}

.board-container .board-label,
.container .board-label {
  text-align: center;
  outline: 1px solid black;
  background-color: #603913;
  color: white;
  font-size: 1.5vw;
  font-weight: 900;
  font-family: system-ui;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: auto;
}

.column-container .row-labels .board-label {
  width: auto;
}

.board-container .board-labels {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: none;
  aspect-ratio: auto;
  flex-direction: row;
  justify-content: end;
}

.container .row-labels {
  display: flex;
  width: 3vw;
  height: auto;
  border: none;
  aspect-ratio: 1 / 1;
  flex-direction: column;
  line-height: 3vw;
}
.container .row-labels .board-label:first-child {
  border: none;
  background: transparent;
}

.ship {
  background-color: navy;
}

.hit {
  background-color: red;
  background-image: var(--hitimagepath); /* Path to your SVG file */
  background-size: 80%; /* Ensure the skull SVG fills the space */
  background-position: center;
  background-repeat: no-repeat;
}

.miss {
  background-color: gray;
  background-image: var(--missimagepath); /* Path to your SVG file */
  background-size: 80%; /* Ensure the skull SVG fills the space */
  background-position: center;
  background-repeat: no-repeat;
}

.blue {
  background-color: #0e5bcb;
}

.lightblue {
  background-color: #86afe1;
}

.white {
  background-color: #d4d6dd;
}

.stripe {
  color: #d4d6dd;
  background-image: linear-gradient(
    135deg,
    #d4d6dd 33.33%,
    #0e5bcb 32.33%,
    #0e5bcb 51%,
    #d4d6dd 50%,
    #d4d6dd 82.33%,
    #0e5bcb 83.33%,
    #0e5bcb 100%
  );
  background-size: 2px 2px;
}

button {
  padding: 10px 5px;
  font-size: 1.2vw;
  background-color: #bfffed;
  font-weight: 900;
  letter-spacing: 2px;
  border-radius: 15px;
  margin: 10px auto;
  color: #04007e;
  background-image: linear-gradient(90deg, #bfffed 0%, #70ffd6 100%);
  text-transform: uppercase;
  cursor: pointer;
}

#buttons-container button#start-button,
#buttons-container button#restart-button {
  display: none;
}

#buttons-container button#start-button.ready,
#buttons-container button#restart-button.ready {
  display: flex;
  margin: 5px auto;
  margin-bottom: 10px;
}

#message {
  margin-top: 20px;
  font-size: 18px;
}

#message.alarm {
  color: var(--color10);
  max-width: 120px;
}

/* General board styles */
#human-board,
#enemy-board {
  display: grid;
  width: 30vw; /* Set width to 40% of the viewport width */
  max-width: 30vw; /* Maintain maximum width */
  height: auto; /* Allow height to adjust dynamically */
  margin: 0 auto; /* Center the boards horizontally */
  position: relative;
  margin-left: 0;
}

#enemy-board.aim,
#enemy-board.aim:hover {
  cursor: var(--aimimagepath), auto;
}

#human-board.waiting:after,
#enemy-board.waiting:after {
  content: "waiting for humans to place ships";
  position: absolute;
  top: 25%;
  left: 12%;
  width: 70%;
  font-size: 2rem;
  z-index: 0;
  pointer-events: none;
  background-color: #00000054;
  color: white;
  padding: 5px;
  box-sizing: border-box;
  cursor: none;
  height: auto;
}

#human-board.nocursor,
#enemy-board.nocursor,
#human-board.nocursor:hover,
#enemy-board.nocursor:hover {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: none !important;
  pointer-events: none !important;
}

#message.win {
  background-image: var(--pagebackgroundimagepath);
  background-color: transparent;
  color: white;
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  min-height: 10vh;
  max-height: 10rem;
  width: 15rem;
  max-width: 100%;
  margin: 5px auto;
  font-size: 2vw;
}

#human-board.pending *,
#enemy-board.pending * {
  background-color: #111d80;
  outline: 2px #2293ff;
  outline-style: dashed;
}
/* Update board cell styles */
#human-board div,
#enemy-board div {
  cursor: var(--woodpointerimagepath), auto;
  aspect-ratio: 1 / 1; /* Keep squares perfectly square */
  width: 3vw;
}

#human-board div.aim,
#enemy-board div.aim,
#human-board div.aim:hover,
#enemy-board div.aim:hover {
  cursor: var(--aimimagepath), auto;
}

#human-board div.aim:not(.hit):not(.miss):hover,
#enemy-board div.aim:not(.hit):not(.miss):hover {
  background-color: #3ac1b0;
  background-image: none;
}

#human-board div.nocursor,
#enemy-board div.nocursor,
#human-board div.nocursor:hover,
#enemy-board div.nocursor:hover {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: none !important;
  cursor: var(--nopointerimagepath), auto !important;
  pointer-events: none !important;
}

/* Specific ship colors with more specific selectors */

#human-board div.carrier {
  background-color: #ff6347;
  background-image: none;
}

#human-board div.battleship {
  background-color: #4682b4;
  background-image: none;
}

#human-board div.cruiser {
  background-color: #32cd32;
  background-image: none;
}

#human-board div.submarine {
  background-color: #ffd700;
  background-image: var(--submarineimagepath);
  background-size: 80%;
}

#human-board div.submarine {
  background-color: #ffd700;
}

#human-board div.destroyer {
  background-color: #8a2be2;
  background-image: none;
}

#human-board .horizontal {
  transform: rotate(90deg);
}

#human-board .vertical {
  transform: rotate(180deg);
}

/*submarine*/

#human-board div.submarine {
  background-image: var(--submarineimagepath);
  background-repeat: no-repeat;
  -o-background-size: 75% auto;
  -webkit-background-size: 75% auto;
  background-size: 75% auto;
}

#human-board div.submarine:nth-child(1 of div.submarine):not(.hit) {
  background-position: calc(70%) calc(130%);
}

#human-board div.submarine:nth-child(2 of div.submarine):not(.hit) {
  background-position: calc(70%) calc(53%);
  background-color: navy;
}

#human-board div.submarine:nth-child(3 of div.submarine):not(.hit) {
  background-position: calc(70%) calc(-36%);
}

/*cruiser*/

#human-board div.cruiser {
  background-image: var(--cruiserimagepath);
  background-repeat: no-repeat;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#human-board div.cruiser:nth-child(1 of div.cruiser):not(.hit) {
  background-position: calc(70%) calc(100%);
}

#human-board div.cruiser:nth-child(2 of div.cruiser):not(.hit) {
  background-position: calc(70%) calc(45%);
  background-color: navy;
}

#human-board div.cruiser:nth-child(3 of div.cruiser):not(.hit) {
  background-position: calc(70%) calc(-12%);
}

/*carrier*/

#human-board div.carrier {
  background-image: var(--carrierimagepath);
  background-repeat: no-repeat;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#human-board div.carrier:nth-child(1 of div.carrier):not(.hit) {
  background-position: calc(70%) calc(104%);
}

#human-board div.carrier:nth-child(2 of div.carrier):not(.hit) {
  background-position: calc(70%) calc(82%);
  background-color: navy;
}

#human-board div.carrier:nth-child(3 of div.carrier):not(.hit) {
  background-position: calc(70%) calc(82%);
  background-color: navy;
}

#human-board div.carrier:nth-child(4 of div.carrier):not(.hit) {
  background-position: calc(70%) calc(80%);
  background-color: navy;
}

#human-board div.carrier:nth-child(5 of div.carrier):not(.hit) {
  background-position: calc(70%) calc(0%);
}

/*battleship*/

#human-board div.battleship {
  background-image: var(--battleshipimagepath);
  background-repeat: no-repeat;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#human-board div.battleship:nth-child(1 of div.battleship):not(.hit) {
  background-position: calc(80%) calc(104%);
}

#human-board div.battleship:nth-child(2 of div.battleship):not(.hit) {
  background-position: calc(80%) calc(69%);
  background-color: navy;
}

#human-board div.battleship:nth-child(3 of div.battleship):not(.hit) {
  background-position: calc(80%) calc(66%);
  background-color: navy;
}

#human-board div.battleship:nth-child(4 of div.battleship):not(.hit) {
  background-position: calc(80%) calc(0%);
  background-color: navy;
}

/*destroyer*/

#human-board div.destroyer {
  background-image: var(--destroyerimagepath);
  background-repeat: no-repeat;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#human-board div.destroyer:nth-child(1 of div.destroyer):not(.hit) {
  background-position: calc(70%) calc(135%);
}

#human-board div.destroyer:nth-child(2 of div.destroyer):not(.hit) {
  background-position: calc(70%) calc(0%);
  background-color: navy;
}

/* Hit and miss styles */
#human-board .ship.hit,
#enemy-board .ship.hit {
  background-color: #dc143c; /* Crimson */
  background-image: var(--hitimagepath); /* Path to your SVG file */
  background-size: 80%; /* Ensure the skull SVG fills the space */
  /* transform: rotate(0deg); */
  transform: unset;
  background-position: center;
}

#human-board div.miss,
#enemy-board div.miss {
  background-color: #87ceeb; /* SkyBlue */
  background-image: var(--missimagepath); /* Path to your SVG file */
  background-size: 80%; /* Ensure the skull SVG fills the space */
}

/* Messages */

#message {
  display: flex;
  width: 50%;
  max-width: 50%;
}

#turn-indicator,
#rotate-button {
  display: none;
}

#turn-indicator.ready,
#rotate-button.ready {
  display: flex;
}

#rotate-button.ready {
  align-self: flex-start;
  margin-bottom: 10px;
}

#turn-indicator.ready {
  width: 100%;
}

#message,
#turn-indicator {
  font-size: 1.2rem;
  font-weight: bold;
  color: #3c2415;
  height: auto;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
  box-sizing: content-box;
}

.player-ships-list img.checkmark {
  filter: brightness(0) saturate(100%) invert(66%) sepia(35%) saturate(689%)
    hue-rotate(123deg) brightness(92%) contrast(92%);
  background-color: unset;
}

#human-ships-list td.flames::after,
#enemy-ships-list td.flames::after {
  content: "x";
  background-image: var(--flamesimagepath);
  background-repeat: repeat-x;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 32% auto;
  z-index: 0;
  position: absolute;
  right: 18px;
  bottom: -21px;
  height: 50px;
  width: 34%;
  background-position: center top;
  color: transparent;
  border-radius: 50%;
}

#ships-table-container {
  display: flex;
  flex-direction: row; /* Default to row layout */
  justify-content: space-around; /* Space between tables */
  margin-top: 20px; /* Space above tables */
  margin: 20px auto;
  max-width: 800px;
  width: 90%;
  gap: 3vw;
  background-image: var(--tablebackgroundimagepath);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 5%;
}

#ships-table-container td {
  color: #afab98;
  font-weight: 700;
}

#human-ships-list,
#enemy-ships-list {
  margin-top: 20px; /* Space above each table */
  width: 100%; /* Set width to 100% for responsiveness */
  border-collapse: collapse; /* Collapse borders */
  flex-grow: 1;
}

.human-ships-header h2,
.enemy-ships-header h2 {
  height: 8vh;
  margin-top: 22px;
  color: #795548;
}

th {
  background-color: #f2f2f2; /* Light grey background for headers */
}

#human-ships-list td,
#enemy-ships-list td {
  padding: 5px;
  position: relative;
}

#human-ships-list td:first-child,
#enemy-ships-list td:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 5px;
}

#human-ships-list td img,
#enemy-ships-list td img {
  max-height: 50px;
}

tr td:nth-child(2) img {
  background-color: #301016;
  width: 33px;
  display: inline-block;
  justify-items: center;
  height: auto;
  border-radius: 25px;
}

tr td:nth-child(2) img,
tr td:nth-child(2) span {
  vertical-align: middle;
  padding: 5px;
  box-sizing: border-box;
}

.outline div.hit.highlight {
  outline: 2px solid white;
  outline-offset: -3px;
}

.outline div.miss.highlight {
  outline: 4px solid white;
  outline-offset: -4px;
  outline-style: ridge;
}

.strikethrough {
  text-decoration: line-through; /* Strikethrough effect */
}

#human-ships-list .placed {
  color: gray; /* Optional: Change color */
}

/* Mark destroyed ships with X */
#human-board div.destroyed,
#enemy-board div.destroyed {
  background-color: transparent;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* glassomorphysm style */

/* #human-board.glass, #enemy-board.glass{
  background: white;
  background: rgba(70, 55, 252, 0.7);
  background: rgba(15, 95, 193, 0.5);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  outline: 2px solid rgb(56 42 220);
}

#human-board.glass.outline div, #enemy-board.glass.outline div{
  cursor: var(--woodpointerimagepath), auto;
  aspect-ratio: 1 / 1;
  width: 2.5vw;
  background-color: rgb(15 95 193 / 27%);
  border-radius: 50%;
  border-color: #003395;
  box-shadow: inset 0px 0px 0px 0px #aaa, inset 0px 2px 3px rgb(255 255 255 / 41%);
  z-index: 5;
  box-sizing: content-box;
  outline: none;
  position: relative;
  border-style: solid;
}

#human-board.glass.outline div::after, #enemy-board.glass.outline div::after{
  content: "t";
  background-image: var(--boardcellhole);
  background-repeat: no-repeat;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  z-index: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2.2rem;
  width: 100%;
  background-position: center center;
  color: transparent;
} 
  

#human-board.glass.outline div.carrier,
#human-board.glass.outline div.battleship,
#human-board.glass.outline div.cruiser,
#human-board.glass.outline div.submarine,
#human-board.glass.outline div.destroyer,
#enemy-board.glass.outline div.carrier,
#enemy-board.glass.outline div.battleship,
#enemy-board.glass.outline div.cruiser,
#enemy-board.glass.outline div.submarine,
#enemy-board.glass.outline div.destroyer {
  border-radius: unset;
}


*/

#human-board.glassboard,
#enemy-board.glassboard {
  background: transparent;
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  outline: 2px solid rgb(56 42 220);
  position: relative;
}
#human-board.glassboard.outline div,
#enemy-board.glassboard.outline div {
  position: relative;
  outline: 1px solid #0266b7;
  border-radius: 6px;
  z-index: 9999;
}
#human-board.glassboard.outline div::before,
#enemy-board.glassboard.outline div::before{
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  right: -3px;
  position: absolute;
  bottom: -3px;
}

#human-board.glassboard.outline div:not(:nth-child(n+90)):not(:nth-child(-n+99))::before,
#enemy-board.glassboard.outline div:not(:nth-child(n+90)):not(:nth-child(-n+99))::before{
  background-color: #f9f8f7;
} 

#human-board.glassboard.outline div:nth-child(10n-1)::before,
#enemy-board.glassboard.outline div:nth-child(10n-1)::before{
  background-color: transparent;
}  

#human-board.glassboard.outline div:nth-child(n + 1):nth-child(-n + 9),
#enemy-board.glassboard.outline div:nth-child(n + 1):nth-child(-n + 9) {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}

#human-board.glassboard.outline div:nth-child(n + 90):nth-child(-n + 99),
#enemy-board.glassboard.outline div:nth-child(n + 90):nth-child(-n + 99) {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

#human-board.glassboard.outline::after,
#enemy-board.glassboard.outline::after {
  content: "t";
  background-image: var(--boardcellhole);
  background-repeat: no-repeat;
  -o-background-size: 105% 105%;
  -webkit-background-size: 105% 105%;
  background-size: 105% 105%;
  z-index: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-position: center center;
  color: transparent;
}

#human-board.glassboard.outline div.carrier,
#human-board.glassboard.outline div.battleship,
#human-board.glassboard.outline div.cruiser,
#human-board.glassboard.outline div.submarine,
#human-board.glassboard.outline div.destroyer,
#enemy-board.glassboard.outline div.carrier,
#enemy-board.glassboard.outline div.battleship,
#enemy-board.glassboard.outline div.cruiser,
#enemy-board.glassboard.outline div.submarine,
#enemy-board.glassboard.outline div.destroyer {
  border-radius: unset;
}

#enemy-board.glassboard.outline .ship:not(.hit):not(.miss) {
  background-color: transparent;
}

/* Responsive styles */
@media (max-width: 768px) {
  .board-container:last-child .board-labels {
    margin-left: 5vw;
  }

  .boardh2container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 30%;
    gap: 15px;
    background-color: #0c0a0a66;
    padding: 15px 0;
    margin: 0 auto;
    box-sizing: border-box;
    min-width: 80px;
  }

  .boardh2image {
    max-width: 100%;
    padding: 0px;
    width: 100%;
    min-width: 80px;
    height: 10vh;
    border-radius: 25px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  h2 {
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 2px;
    height: 10vh;
    background-position: center center;
    margin: 0 auto;
    width: 39%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: clamp(10px, 2vw, 25px);
  }

  h1 {
    width: 50%;
    min-width: 150px;
  }
  h1 img {
    max-height: 10rem;
    width: 10rem;
  }

  .container {
    flex-direction: column; /* Stack boards vertically on smaller screens */
  }

  .container > .board-container:first-child {
    margin: 5% auto 5% 2%;
  }
  .container > .board-container:last-child {
    margin: 15% 5% 5% auto;
  }

  #human-board,
  #enemy-board {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .container .row-labels {
    width: 5vw;
    line-height: 5vw;
  }

  #human-board div,
  #enemy-board div {
    width: 5vw;
    aspect-ratio: 1 / 1; /* Keep squares perfectly square */
  }

  .board-container .board-label,
  .container .board-label {
    width: 5vw;
    height: auto;
  }

  button {
    padding: 12px;
    font-size: 1.7vw;
    margin: 25px auto;
    cursor: pointer;
  }

  #turn-indicator {
    font-size: 2vw; /* Slightly bigger font for messages */
  }
  #message {
    font-size: 3vw;
  }

  #rotate-button {
    margin: 5px auto;
  }

  #human-ships-list {
    font-size: 14px; /* Smaller font for ship list */
  }
  #ships-table-container {
    flex-direction: column; /* Switch to column layout */
    align-items: center; /* Center align tables */
  }

  #human-ships-list,
  #enemy-ships-list {
    width: 90%; /* Adjust width for smaller screens */
  }
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  body > .container {
    width: 100%;
  }

  h1 {
    width: 50%;
    min-width: 150px;
  }

  .container .row-labels {
    width: 8vw;
    line-height: 8vw;
  }
  .boardh2container {
    width: 5%;
    min-width: auto;
  }

  .column-container {
    width: 10%;
  }

  #message {
    font-size: 4vw;
  }

  .game-board-container > .boardh2container > p {
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 2px;
    height: auto;
    background-position: center center;
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: clamp(10px, 2vw, 14px);
    margin-top: 0;
    text-transform: capitalize;
  }
  .game-board-container > .boardh2container > h2 {
    line-height: 30px;
    height: 2vh;
  }

  .board-container:first-child .game-board-container > .boardh2container,
  .board-container:last-child .game-board-container > .boardh2container {
    left: 0;
    position: absolute;
    top: -26%;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    max-height: 16%;
    height: 16%;
  }

  .boardh2image {
    padding: 0;
    width: 100%;
    min-width: 10vw;
    height: auto;
    border-radius: 25px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 2vw;
  }
  .container > .board-container {
    width: 100%;
    margin: 10% auto;
  }

  #human-board,
  #enemy-board {
    width: 88%; /* Maintain square shape */
    height: auto; /* Auto height for dynamic size */
  }

  #human-board div,
  #enemy-board div {
    aspect-ratio: 1 / 1; /* Keep squares perfectly square */
    width: 8vw;
  }
  .board-container .board-label,
  .container .board-label {
    width: 8vw;
    height: auto;
    font-size: 2.5vw;
  }

  .board-container .board-labels {
    display: inline-board;
    width: 88%;
    max-width: 100%;
    margin-left: 10%;
    min-width: 88%;
  }

  .board-container:last-child .board-labels {
    margin-left: 10%;
  }

  #ships-table-container {
    flex-direction: column; /* Switch to column layout */
    align-items: center; /* Center align tables */
  }

  #human-ships-list,
  #enemy-ships-list {
    width: 90%; /* Adjust width for smaller screens */
  }

  button {
    font-size: 2.7vw; /* Smaller font size for buttons */
  }
}
