@font-face {
    font-family: 'Proda Sans';
    src: url('ProdaSans-BlackItalic.eot');
    src: local('Proda Sans Black Italic'), local('ProdaSans-BlackItalic'),
        url('ProdaSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('ProdaSans-BlackItalic.woff2') format('woff2'),
        url('ProdaSans-BlackItalic.woff') format('woff'),
        url('ProdaSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proda Sans';
    src: url('ProdaSans-BoldItalic.eot');
    src: local('Proda Sans Bold Italic'), local('ProdaSans-BoldItalic'),
        url('ProdaSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ProdaSans-BoldItalic.woff2') format('woff2'),
        url('ProdaSans-BoldItalic.woff') format('woff'),
        url('ProdaSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proda Sans Extra';
    src: url('ProdaSans-ExtraBoldItalic.eot');
    src: local('Proda Sans Extra Bold Italic'), local('ProdaSans-ExtraBoldItalic'),
        url('ProdaSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ProdaSans-ExtraBoldItalic.woff2') format('woff2'),
        url('ProdaSans-ExtraBoldItalic.woff') format('woff'),
        url('ProdaSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proda Sans';
    src: url('ProdaSans-Black.eot');
    src: local('Proda Sans Black'), local('ProdaSans-Black'),
        url('ProdaSans-Black.eot?#iefix') format('embedded-opentype'),
        url('ProdaSans-Black.woff2') format('woff2'),
        url('ProdaSans-Black.woff') format('woff'),
        url('ProdaSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proda Sans';
    src: url('ProdaSans-LightItalic.eot');
    src: local('Proda Sans Light Italic'), local('ProdaSans-LightItalic'),
        url('ProdaSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('ProdaSans-LightItalic.woff2') format('woff2'),
        url('ProdaSans-LightItalic.woff') format('woff'),
        url('ProdaSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proda Sans Extra';
    src: url('ProdaSans-ExtraBold.eot');
    src: local('Proda Sans Extra Bold'), local('ProdaSans-ExtraBold'),
        url('ProdaSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('ProdaSans-ExtraBold.woff2') format('woff2'),
        url('ProdaSans-ExtraBold.woff') format('woff'),
        url('ProdaSans-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proda Sans';
    src: url('ProdaSans-Light.eot');
    src: local('Proda Sans Light'), local('ProdaSans-Light'),
        url('ProdaSans-Light.eot?#iefix') format('embedded-opentype'),
        url('ProdaSans-Light.woff2') format('woff2'),
        url('ProdaSans-Light.woff') format('woff'),
        url('ProdaSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proda Sans';
    src: url('ProdaSans-Bold.eot');
    src: local('Proda Sans Bold'), local('ProdaSans-Bold'),
        url('ProdaSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('ProdaSans-Bold.woff2') format('woff2'),
        url('ProdaSans-Bold.woff') format('woff'),
        url('ProdaSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proda Sans';
    src: url('ProdaSans-MediumItalic.eot');
    src: local('Proda Sans Medium Italic'), local('ProdaSans-MediumItalic'),
        url('ProdaSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('ProdaSans-MediumItalic.woff2') format('woff2'),
        url('ProdaSans-MediumItalic.woff') format('woff'),
        url('ProdaSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proda Sans';
    src: url('ProdaSans-Italic.eot');
    src: local('Proda Sans Italic'), local('ProdaSans-Italic'),
        url('ProdaSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('ProdaSans-Italic.woff2') format('woff2'),
        url('ProdaSans-Italic.woff') format('woff'),
        url('ProdaSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proda Sans Book';
    src: url('ProdaSans-BookItalic.eot');
    src: local('Proda Sans Book Italic'), local('ProdaSans-BookItalic'),
        url('ProdaSans-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('ProdaSans-BookItalic.woff2') format('woff2'),
        url('ProdaSans-BookItalic.woff') format('woff'),
        url('ProdaSans-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proda Sans Book';
    src: url('ProdaSans-Book.eot');
    src: local('Proda Sans Book'), local('ProdaSans-Book'),
        url('ProdaSans-Book.eot?#iefix') format('embedded-opentype'),
        url('ProdaSans-Book.woff2') format('woff2'),
        url('ProdaSans-Book.woff') format('woff'),
        url('ProdaSans-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proda Sans';
    src: url('ProdaSans-ThinItalic.eot');
    src: local('Proda Sans Thin Italic'), local('ProdaSans-ThinItalic'),
        url('ProdaSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('ProdaSans-ThinItalic.woff2') format('woff2'),
        url('ProdaSans-ThinItalic.woff') format('woff'),
        url('ProdaSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proda Sans Semi';
    src: url('ProdaSans-SemiBold.eot');
    src: local('Proda Sans Semi Bold'), local('ProdaSans-SemiBold'),
        url('ProdaSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('ProdaSans-SemiBold.woff2') format('woff2'),
        url('ProdaSans-SemiBold.woff') format('woff'),
        url('ProdaSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proda Sans';
    src: url('ProdaSans-Thin.eot');
    src: local('Proda Sans Thin'), local('ProdaSans-Thin'),
        url('ProdaSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('ProdaSans-Thin.woff2') format('woff2'),
        url('ProdaSans-Thin.woff') format('woff'),
        url('ProdaSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proda Sans';
    src: url('ProdaSans-Medium.eot');
    src: local('Proda Sans Medium'), local('ProdaSans-Medium'),
        url('ProdaSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('ProdaSans-Medium.woff2') format('woff2'),
        url('ProdaSans-Medium.woff') format('woff'),
        url('ProdaSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proda Sans Semi';
    src: url('ProdaSans-SemiBoldItalic.eot');
    src: local('Proda Sans Semi Bold Italic'), local('ProdaSans-SemiBoldItalic'),
        url('ProdaSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ProdaSans-SemiBoldItalic.woff2') format('woff2'),
        url('ProdaSans-SemiBoldItalic.woff') format('woff'),
        url('ProdaSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proda Sans';
    src: url('ProdaSans-Regular.eot');
    src: local('Proda Sans'), local('ProdaSans-Regular'),
        url('ProdaSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('ProdaSans-Regular.woff2') format('woff2'),
        url('ProdaSans-Regular.woff') format('woff'),
        url('ProdaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

